# Google Cloud
GCP_PROJECT_ID=your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json

# Cloud Storage
GCS_RAW_BUCKET=your-raw-data-bucket

# BigQuery
BQ_RAW_DATASET=raw
BQ_DBT_DATASET=dbt_prod

# dbt
DBT_TARGET=prod