# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/profiles.yml

# Great Expectations
great_expectations/uncommitted/
great_expectations/.ge_store_backend_id

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env
*.egg-info/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# GCP credentials
*.json
!great_expectations/expectations/*.json
!great_expectations/checkpoints/*.json
gcp-keyfile.json
service-account.json

# Airflow
airflow/logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
